<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Accueil Adhérent</title>
    <meta charset="UTF-8" />
</head>
<body>
    <h1>Bienvenue, <span th:text="${user.nom}">Nom Adhérent</span> !</h1>

    <p>Vous êtes connecté en tant qu'adhérent.</p>

    <nav>
        <ul>
            <li><a th:href="@{/livres}">Voir les livres disponibles</a></li>
            <li><a th:href="@{/adherent/emprunts}">Mes emprunts</a></li>
            <li><a th:href="@{/adherent/logout}">Déconnexion</a></li>
        </ul>
    </nav>
</body>
</html>
