<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des livres</title>
</head>
<body>
<h1>Liste des livres</h1>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Auteur</th>
            <th>ISBN</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="livre : ${livres}">
            <td th:text="${livre.id}"></td>
            <td th:text="${livre.titre}"></td>
            <td th:text="${livre.auteur}"></td>
            <td th:text="${livre.isbn}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>
